<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>서버 개발자 과제</title>
  <link href="../../static/css/admin.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-latest.min.js"></script>
  <script src="../../static/js/checkExtension.js" type="text/javascript"></script>
  <script src="../../static/js/extensionList.js" type="text/javascript"></script>
  <script src="../../static/js/customExtension.js" type="text/javascript"></script>
</head>
<body>
<hr class="admin-hr-style">
<h1 class="admin-h1-style">파일 확장자 차단</h1>
<hr class="admin-hr-style">
<span class="description-span-style">파일확장자에 따라 특정 형식의 파일을 첨부하거나 전송하지 못하도록 제한</span>
<div>
  <div class="file-type-checkbox-list" id="extensionList">
    <span class="default-type-style">고정 확장자</span>
  </div>
  <div>
    <span class="custom-type-style">커스텀 확장자</span>
    <input maxlength="20" class="input-extension-style" type="text" placeholder="확장자 입력" id="extensionInput">
    <button type="button" id="addCustomExtension">+추가</button>
  </div>
<!--  <div>-->
<!--    <textarea cols="35" rows="10" readonly class="extension-tag-input" id="customExtensionList"></textarea>-->
<!--  </div>-->
  <div id="customExtensionList"></div>
</div>
</body>
</html>
